
.moboleSidebar {
  top: 0;
  left: 0;
  width: 232px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
}

.moboleSidebar_body {
  flex-grow: 1;
  /* padding: 1rem 1rem; */
  overflow-y: auto;
}
